html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.prose {
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: rgba(248, 248, 248, 0.95);
}

.prose h1 {
  text-align: center;
}

.prose p {
  font-size: 16px;
}

.prose a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
  color: #3e96e9;
}

.prose a:hover {
  border-bottom: 1px solid #666;
}

.prose pre {
  overflow-x: auto;
}

.prose p code {
  background-color: #e5e5e5;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.prose .shiki {
  line-height: 1.4;
}

.shiki-container pre {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.shiki-light {
  background: #e7e7e7 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}
